#my-portrait {
    width: 500px;
    height: 700px;
}

h1 {
    color: blueviolet;
    font-size: 300%;



}

p {
    font-family: "comic sans";
    text-indent: 20px;
    margin-left: 10px;


}

#content {
    background-color: #ff7fdb;
    width: 1000px ;
    min-height: 500px;
    padding: 10px;
    margin: 10px;
    border: solid 20px #e9ffc0;
    font-size: 20px;



}
#assignment{
    background-color: #7FFFD4;
    width: 1000px ;
    min-height: 200px;
    padding: 10px;
    margin: 10px;
    border: solid 20px #FFC0CB;
    font-size: 20px;



}