h1 {
    color: rgb(43, 226, 86);
    font-size: 400%;



}
h2 {
    color: rgb(226, 183, 43);
    font-size: 300%;



}

p {
    font-family: "comic sans";
    text-indent: 20px;
    margin-left: 10px;


}

#content {
    background-color: #49adff;
    width: 2000px ;
    min-height: 300px;
    padding: 10px;
    margin: 10px;
    border: solid 20px #e6181894;
    font-size: 20px;



}