h1 {
    color: rgb(226, 43, 43);
    font-size: 400%;



}
h2 {
    color: rgb(186, 43, 226);
    font-size: 300%;



}

p {
    font-family: "comic sans";
    
    margin-left: 10px;


}

#content {
    background-color: #134617;
    width: 2000px ;
    min-height: 300px;
    padding: 10px;
    margin: 10px;
    border: solid 20px #4bffe794;
    font-size: 20px;



}