h1 {
    color: rgb(12, 198, 255);
    font-size: 400%;



}
h2 {
    color: rgb(169, 213, 255);
    font-size: 300%;



}

p {
    font-family: "comic sans";
    
    margin-left: 10px;


}

#content {
    background-color: #c78cda;
    width: 2000px ;
    min-height: 300px;
    padding: 10px;
    margin: 10px;
    border: solid 4px #fb00ff94;
    font-size: 20px;



}